.one-piece__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}
.onepiece__wrapper{
    display: flex;
    padding-top: 40px;
    margin-bottom: 40px;
}
.one-piece__player{
    margin-right: 30px;
    margin-top: 32px;
    border-radius: 12px;
}
.onepiece__img{
    border-radius: 12px;
}
.onepiece__list{
    padding: 0;
    list-style: none;
    margin-left: 30px;
}
.onepiece__item{
    margin-bottom: 12px;
    &:last-child{
        margin-bottom: 0;
    }
}
.onepiece__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}.onepiece-item__text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.07em;
    color: #868686;
}
.onpiece__strong{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}
.onepiece__text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.07em;
    color: #868686;
    margin-bottom: 38px;
}